@import "tailwindcss";
@import "tw-animate-css";
@import "../src/styles/theme.css";
@import "../src/styles/animations.css";

@source "../src";

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-text);
}
